{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 44.4361414,
    "longitude": 26.1027202,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "America/Los_Angeles",
    "external_url": null,
    "internal_url": "http://homeassistant.local:8123",
    "currency": "RON",
    "country": "RO",
    "language": "en",
    "radius": 100
  }
}