.vscode
.DS_Store
__pycache__
custom_components/atlas_scientific/__pycache__
custom_components/sequent_microsystems/__pycache__
node-red/.*
custom_components/scheduler/.*
custom_components/__MACOSX/
home-assistant.log*
home-assistant_v2*
blueprints
.HA_VERSION
node_modules/
package-lock.json
packages/raspipool/temp_1wire.yaml
secrets.yaml
.storage/core.analytics
.storage/core.restore_state
.storage/frontend.user_data_e87b9ea6001d459fb2ba3d61eb1e7395
.storage/http
.storage/http.auth
.storage/lovelace.map
.storage/lovelace_dashboards
.storage/person
.storage/repairs.issue_registry
.storage/trace.saved_traces
