.vscode
.DS_Store
__pycache__
custom_components/atlas_scientific/__pycache__
custom_components/sequent_microsystems/__pycache__
node-red/.*
custom_components/scheduler/.*
custom_components/__MACOSX/
home-assistant.log*
home-assistant_v2*
blueprints
.HA_VERSION
.storage/
node_modules/
package-lock.json
packages/raspipool/temp_1wire.yaml
secrets.yaml

