input_datetime:
  cycle_start:
    name: Pump cycle start time
    has_date: false
    has_time: true
  recirculation:
    name: Recirculation cycle
    has_time: true
    has_date: false
    icon: mdi:timer-outline


input_number:
  capacity:
    name: Pool capacity (m3)
    min: 5
    max: 100
    unit_of_measurement: m3
    icon: mdi:water-pump
  quality:
    name: Pool quality
    min: 0
    max: 9
    unit_of_measurement: stars
    icon: mdi:star
  turbo:
    name: '% in high speed'
    min: 0
    max: 100
    step: 5
    unit_of_measurement: '%'
    icon: mdi:circle-slice-2


input_boolean:
  turbo:
    name: Dual-speed Pump
    icon: mdi:play-speed
  
  factory_started:
    name: Factory config started
    icon: mdi:auto-fix

